@* @model IEnumerable<AutoParts.Models.Data.Spare> *@
@model PaginatedList<AutoParts.Models.Data.Spare>

@{
    ViewData["Title"] = "Запчасти";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active">Запчасти</li>
    </ol>
</nav>
<h2>Запчасти</h2>
<h6>
    <a class="btn text-dark" asp-action="Create">
        <i class="far fa-plus-square"></i> Добавить запчасть
    </a>
</h6>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Найти по имени: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Найти" class="btn btn-default" /> | 
            <a asp-action="Index">Вернуться к полному списку</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @* <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.TitleSpare)</a> *@
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TitleSort" asp-route-currentFilter="@ViewData["CurrentFilter"]">Title Spare</a>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Description) *@
                Description
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Price) *@
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSort" asp-route-currentFilter="@ViewData["CurrentFilter"]">Price</a>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Category) *@
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.CategorySort" asp-route-currentFilter="@ViewData["CurrentFilter"]">Category</a>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Article) *@
                Article
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.CarBrand) *@
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.CarBrandSort" asp-route-currentFilter="@ViewData["CurrentFilter"]">CarBrand</a>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.CarModel) *@
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.CarModelSort" asp-route-currentFilter="@ViewData["CurrentFilter"]">CarModel</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitleSpare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                <a class="btn text-dark" asp-action="Details" asp-route-id="@item.Id" title="Посмотреть подробнее">
                    <i class = "far fa-eye"></i>
                </a>
                <a class="btn text-dark" asp-action ="Edit" asp-route-id="@item.Id" title="Редактировать">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a class="btn text-dark" asp-action="Delete" asp-route-id="@item.Id" title="Удалить">
                    <i class="fas fa-minus-square"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Назад
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Вперёд
</a>
