@model AutoParts.Models.Data.Order

@{
    ViewData["Title"] = "Details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active">Заказы</li>
        <li class="breadcrumb-item active">Подробная информация</li>
    </ol>
</nav>

<a class="btn text-dark" asp-action="Index" title="Вернуться к списку">
    <i class="fa fa-arrow-left"></i>
</a>

<h1>Подробная информация</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSpare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSpare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfReg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfReg)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a>
    @* <a asp-action="Index">Back to List</a> *@
</div>
